html, body {
    margin: 0px;
    padding: 0px;
    /* background: #111111; */
    color: #dddddd;
    height: 100%;
    font-family: "Roboto";
}

#root {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
